.boas-vindas {
    padding-top: 1vh;
    display: flex;
    justify-content: center;
    color: #F56E28;
    margin: auto 0;
    font-weight: 1000;
}

.banner {
    width: 100%;
}

.component-search {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

#input-cep{
    width: 40vw;
    height: 7vh;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border: none;
    padding: 6px;
    box-sizing: border-box;
    margin-right: 1%;
    color: #4B9093;
}

#input-cep:focus {
    outline: none;
}

#input-cep::selection {
    background-color: #2c387e;
    color: rgb(255, 255, 255);
}

form{
    display: flex;
    justify-content: center;
}

button {
    width: 15%;
}

.btn-find {
    border-radius: 10px;
    background-color: #2c387e;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 1%;
}

.btn-find:hover {
    background-color: #2c387e;
    color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

input {
    text-align: center;
}
.btn-find:focus {
    outline: none;
}

.btn-clean {
    border-radius: 10px;
    background-color: #6d7878;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 1%;
}

.btn-clean:hover {
    background-color: #ff3d00;
}

.btn-clean:focus {
    outline: none;
}

.component-response {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2%;
}

.data-list{
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2c387e;
    padding: 8px;
    border-bottom: 1px solid grey;
    animation-duration: 0.5s;
    animation-name: slidein;
}

.data-list::selection {
   background-color: #2c387e;
}

.data-list.error-data-cep {
    width: 30%;
    color: #934b4b;
    bottom: 0;
    padding: 16px 8px;
    box-sizing: border-box;
    animation-duration: 0.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-bottom: -10%;
    }
  
    to {
      margin-top: 0%;
      width: 70vw;
    }
}

.icon-send {
    font-size: 16px;
    margin-right: 2%;
    vertical-align: text-bottom;
}

.icon-clean{
    font-size: 16px;
    margin-left: 2%;
    vertical-align: text-bottom;
}


@media screen and (max-width:1000px){
    .boas-vindas {
        padding-top: 4vh;
        padding-left: 15%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin: auto 0;
        font-weight: 1000;
    }

    .component-search {
        margin-top: 3vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        user-select: none;
    }
    
    #input-cep{
        width: 60vw;
        height: 7vh;
        border-radius: 10px;
        border: none;
        padding: 6px;
        box-sizing: border-box;
        margin-right: 1%;
        margin-left: 20%;
    }
    
    #input-cep:focus {
        outline: none;
    }
    
    form{
        display: flex;
        flex-direction: column;
    }

    button {
        box-sizing: border-box;
        width: 60%;
        height: 7vh;
    }
    
    .btn-find {
        border-radius: 10px;
        border: none;
        cursor: pointer;
        margin: 15px 0 15px 20%; 
    }
    
    input {
        text-align: center;
    }
    
    .btn-clean {
        border-radius: 10px;
        border: none;
        cursor: pointer;
        margin-left: 20%;
    }
    
    .component-response {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2%;
    }
    
}

