@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
  scrollbar-width: thin;
  padding:0;
  margin:0;
  font-family: 'Nunito', sans-serif;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-thumb {
  background-color: #c5baba ;
  border-radius: 20px;
}

    body{
        background-color: #dcd3d334;
}
